* {
    box-sizing: border-box;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display {
    background-color: blanchedalmond;
    height: 100px;
    width: 265px;
    border-radius: 7px;
    margin-bottom: 3px;
}

.top {
    display: flex;
    justify-content: right;
    align-items:flex-end;
    font-size: 28px;
    padding-right: 15px;
    padding-bottom: 5px;
    height: 50px;
    width: 265px;
}

.bottom {
    display: flex;
    justify-content: right;
    align-items:flex-end;
    font-size: 28px;
    padding-right: 15px;
    padding-bottom: 5px;
    height: 50px;
    width: 265px;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4, 64px [col-start]);
    grid-gap: 3px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    height: 64px;
    width: 64px;
    border-radius: 7px;
}